@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #aa3bff;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

    --sans:  'Inter', Roboto, ui-monospace, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #8aa5b1;
    --text-h: #8aa5b1;
    --bg: #171a24;
    --border: #aa3bff;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --text-menu: #adadad;
    --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    --input-text:#c084fc;
  
  }

  .button-icon {
    border-radius: 5px;
    background-color: var(--text);
    vector-effect: non-scaling-size;
    color: #08060d;
    border-color: var(--accent);
    margin: 0cap 0.36cap 0.1cap 0.36cap;
  font: 18px/145% var(--sans);
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  text-shadow: 1px 1px 1px #ffffff;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;

  }
  ;
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.title{
  font-family: 'Prata', serif;
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.campo_input{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-color: var(--border);
  stroke-color: var(--border);
  border-radius: 10%;

}

.formulario{
  position: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 2rem;
  background-color: var(--bg);
}

.campo_input label{
  width: 80px;
  text-align: right;
}

.campo_input input, .campo_input select{
  height: 20px;
  width: 420px;
  font-size: 16.5px;
  border-color: var(--accent) var(--border) var(--text);
  border-radius: 0.8cap;
  margin-left: 5px;
}

.campo_input select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

  width: 426px;
  height: 26px;
}

.social{
  color: var(--accent);
  margin-top: 10px;
  background-color: var(--bg);
}

.select{
  height: 20px;
}

.app {
    position: relative;
    min-height: 100vh;
    overflow: visible;
}

/* Fundo */
.background-decoration {
    position: absolute;
    inset: 0;
    margin-top: -5cap;
    width: max-content;
    z-index: 0;
    pointer-events: none;
  }

/* Conteúdo */
.content {
    position: relative;
    
    z-index: 1;
}

.div-buttons{
  flex-direction: row;

}

.job-table{
  width: 100%;
  border-collapse: collapse;
  border-color: var(--input-text);
  margin-top: 2rem;
  border-radius: 12px;
  border-color: #aa3bff;
  border-width: 0 0 12px 0;
  stroke-width: 0 0 12px 0;

}

.job-table thead {
  background-color: var(--input-text);
  color: var(--bg);
}

.job-table_footer{
height: 10px;
width: 100%;
}

.job-table th{
  padding: 3px;
  text-align: center;
  font-weight: 600;
}

.job-table td{
  padding: 14px 14px;
  border-bottom: 1px solid var(--input-text);
}

.job-row:hover{
  background-color: #000;
  opacity: 80%;

}


.job-link{
  color: var(--text);
  text-decoration: none;
}

.job-link:hover{
  text-decoration: underline;
}

.job_edit{
  position: relative;
  display: inline-block;
}


.editJobMenu{
  position: absolute;
  top: 100;
  right: 0;

  background-color: #1f2028;
    width: 150px;
    height: 60px;
    display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 9999;

}


.editJobMenu button{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 150px;
    height: 30px;
    border: none;
    background-color: #1f2028;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-menu);
}

.editJobMenu button:hover{
    background-color: #302c35;
    color: #fff;
}

.job-status{
  border-radius: 5%;
  padding: 4px 10px;
  border-radius: 5cap;
  font-weight: 500;
}

.status-inscrito{
  background-color: rgb(104, 104, 51);
  color: #fff;
}

.status-logica{
  background-color: rgb(27, 80, 194);
  color: #fff;
}

.status-idiomas{
  background-color: rgb(167, 31, 121);
  color: #fff;
}

.status-entrevista{
  background-color: rgb(6, 79, 107);
  color: #fff;
}

.status-dinamica{
  background-color: rgb(131, 35, 155);
  color: #fff;
}

.status-documentos{
  background-color: #04a319;
  color: #fff;
}

.status-salva{
  background-color: #d67d07;
  color: #fff;
}

.status-finalizada{
  background-color: rgb(240, 43, 43);
  color: #fff;
}


